img {
  width: 50vw;
}

h2 {
  font-size: 2rem;
  color: rgb(99, 35, 35);
}
.main {
  padding: 5vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  background: rgb(216, 216, 216);
}

.info {
  width: 50vw;
}

.date {
  font-size: 1rem;
}
